<mat-card class="category-card">
  <mat-card-header>
    <mat-card-title>
      <mat-form-field class="category-card__content_field">
        <input matInput type="text" placeholder="{{'title' | translate}}" [disabled]="!isChanging" [(ngModel)]="title">
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions class="category-card__actions">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="category-card__actions_button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteCategory()">
        <span>{{'delete' | translate}}</span>
      </button>
      <button mat-menu-item (click)="changeCategory()">
        <span>{{'edit' | translate}}</span>
      </button>
    </mat-menu>
    <button mat-raised-button color="primary" (click)="saveCategory()" *ngIf="isChanging">
      <span>{{'save' | translate}}</span>
    </button>
  </mat-card-actions>
</mat-card>
