<div class="create-category" mat-dialog-content>
  <mat-form-field class="category-card__content_field">
    <input matInput type="text" placeholder="{{'title' | translate}}" [(ngModel)]="data.title">
  </mat-form-field>
</div>
<mat-toolbar class="create-category__toolbar" mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" >
    <span>{{'save' | translate}}</span>
  </button>
  <button mat-raised-button color="accent" (click)="onNoClick()">
    <span>{{'cancel' | translate}}</span>
  </button>
</mat-toolbar>
